{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
}
